{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2019 (Ink) {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2019 - Ink</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-15.userapi.com/c854532/v854532184/124d20/Lkn2vbRC1Lk.jpg" alt="2019">
        <img src="https://sun9-58.userapi.com/c857532/v857532624/90b7a/eQVkIM_C0_E.jpg" alt="2019">
        <img src="https://sun9-43.userapi.com/c851428/v851428241/1e12a3/MpxSJH3N8_w.jpg" alt="2019">
         <img src="https://sun9-21.userapi.com/c855524/v855524407/114077/EoWwarsnu30.jpg" alt="2019">


        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}