{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2017 {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}


{% block navbar %}
        <a class="navbar-brand" href="/home" style="color: peru; font-size: x-large; font-family: Ebrima;">
            <img src="/static/Cat.jpg" alt="Logo" style="width:40px;">Exellero Art</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/about" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/gallery" style="background-color: tan;">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_page">Log In</a>
                </li>
            </ul>
         </div>
{% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2017</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

       <img src="https://sun9-17.userapi.com/c626130/v626130916/59dc9/W-oV40xzlR8.jpg" style="width: 500px;" alt="2017">
       <img src="https://sun9-71.userapi.com/c626130/v626130916/5b135/8BK28jjdaU4.jpg" style="width: 500px;" alt="2017">
        <img src="https://sun9-58.userapi.com/c626130/v626130916/5b764/kiuQqSwYJrI.jpg" style="width: 500px;" alt="2017">

        <img src="https://sun9-55.userapi.com/c836628/v836628916/2d43e/SE-CMMu_bNM.jpg" style="width: 500px;" alt="2017">
       <img src="https://sun9-5.userapi.com/c626322/v626322916/60f84/FPLDhXOJsyo.jpg" style="width: 500px;" alt="2017">
        <img src="https://sun9-2.userapi.com/c836224/v836224342/5e602/9igD-vyXXUI.jpg" style="width: 500px;" alt="2017">

       <img src="https://sun9-32.userapi.com/c837333/v837333185/4f1e9/YCsOeMFh1zo.jpg" style="width: 500px;" alt="2017">
       <img src="https://sun9-47.userapi.com/c837431/v837431328/654b9/H_Iqxi3yDPI.jpg" style="width: 500px;" alt="2017">
       <img src="https://sun9-8.userapi.com/c841631/v841631013/3d318/gxNNBALT8qE.jpg" style="width: 500px;" alt="2017">

       <img src="https://sun9-13.userapi.com/c824701/v824701659/57e5c/0wHxnnnCq8w.jpg" style="width: 500px;" alt="2017">
        <img src="https://sun9-45.userapi.com/c841631/v841631013/3d30e/qhtd4eMCjNw.jpg" style="width: 500px;" alt="2017">
       <img src="https://sun9-22.userapi.com/c639126/v639126916/169a4/8SPtjCGGNAo.jpg" style="width: 500px;" alt="2017">

       <img src="https://sun9-1.userapi.com/c836322/v836322852/5086a/9ImdyBZBoJY.jpg" alt="2017">
       <img src="https://sun9-11.userapi.com/c639126/v639126916/15d6f/9-W15f-2og4.jpg" alt="2017">
        <img src="https://sun9-63.userapi.com/c626130/v626130916/5c1ad/MYZ8B8oLkno.jpg" alt="2017">
       <img src="https://sun9-67.userapi.com/c626130/v626130916/586cc/UEXbLV0_Gz4.jpg" alt="2017">
        <img src="https://sun9-53.userapi.com/c836233/v836233137/60db2/b1nvshGEAR4.jpg" alt="2017">
       <img src="https://sun9-72.userapi.com/c637731/v637731916/55186/XM6Wq1aVXEw.jpg" alt="2017">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}