{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2019 (Ink) {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block navbar %}
        <a class="navbar-brand" href="/home" style="color: peru; font-size: x-large; font-family: Ebrima;">
            <img src="/static/Cat.jpg" alt="Logo" style="width:40px;">Exellero Art</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/about" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/gallery" style="background-color: tan;">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_page">Log In</a>
                </li>
            </ul>
         </div>
{% endblock %}
        
{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2019 - Ink</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-15.userapi.com/c854532/v854532184/124d20/Lkn2vbRC1Lk.jpg" alt="2019">
        <img src="https://sun9-58.userapi.com/c857532/v857532624/90b7a/eQVkIM_C0_E.jpg" alt="2019">
        <img src="https://sun9-43.userapi.com/c851428/v851428241/1e12a3/MpxSJH3N8_w.jpg" alt="2019">
         <img src="https://sun9-21.userapi.com/c855524/v855524407/114077/EoWwarsnu30.jpg" alt="2019">


        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}
