{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2017 (Ink) {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2017 - Ink</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-42.userapi.com/c639524/v639524587/4cfdd/Mxp1P7PXBUc.jpg" alt="2017">
        <img src="https://sun9-12.userapi.com/c837132/v837132572/7419e/fZdSZrugg4A.jpg" alt="2017">
        <img src="https://sun9-65.userapi.com/c639226/v639226807/54fba/znp6cJZMhx8.jpg" alt="2017">
        <img src="https://sun9-53.userapi.com/c637317/v637317916/31c1d/3qeSAVcvie4.jpg" alt="2017">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
 {% endblock %}

