{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2019 {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2019</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-15.userapi.com/c848732/v848732588/15c0a2/_DoAm5Sv2bY.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-6.userapi.com/c858332/v858332601/33304/Y_0pB5Igz-8.jpg" style="width: 500px;" alt="2019">
       <img src="https://sun9-39.userapi.com/c852016/v852016985/19c944/fU8RiHEpIqI.jpg" style="width: 500px;" alt="2019">

        <img src="https://sun9-21.userapi.com/c844520/v844520117/1ceac1/obvrK3EDDug.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-26.userapi.com/c851228/v851228395/f334d/GEK3cogk4jc.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-68.userapi.com/c844418/v844418369/207596/vAP0Q4j7YMQ.jpg" style="width: 500px;" alt="2019">

        <img src="https://sun9-17.userapi.com/c854520/v854520106/33200/47sGymxpbwc.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-52.userapi.com/c846523/v846523189/207d90/Sn4mLn_tjAw.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-40.userapi.com/c847016/v847016574/20a087/LKuxEzerlXQ.jpg" style="width: 500px;" alt="2019">

       <img src="https://sun9-12.userapi.com/c853424/v853424335/4c45d/t6cGDQgp99Q.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-69.userapi.com/c851036/v851036587/12d72b/577HTbeHULE.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-16.userapi.com/c855628/v855628638/3e877/UAeuQcCbhu0.jpg" style="width: 500px;" alt="2019">

         <img src="https://sun9-50.userapi.com/c851132/v851132330/13b81f/sI-42Pdq18g.jpg" style="width: 500px;" alt="2019">
       <img src="https://sun9-27.userapi.com/c850624/v850624732/181f9e/id1AvPEY-Ng.jpg" style="width: 500px;" alt="2019">
          <img src="https://sun9-62.userapi.com/c855536/v855536018/57a5d/zezj0-BV1k4.jpg" style="width: 500px;" alt="2019">

        <img src="https://sun9-39.userapi.com/c852036/v852036161/1402f7/b6RaVQUKkr0.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-8.userapi.com/c852220/v852220457/17d84f/CdFFfeBX24c.jpg" style="width: 500px;" alt="2019">
        <img src="https://sun9-38.userapi.com/c846123/v846123951/1b6906/fw8nyDHrqO4.jpg" style="width: 500px;" alt="2019">

        <img src="https://sun9-2.userapi.com/c858320/v858320379/29cd7/UhvEsl6pgg4.jpg" alt="2019">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}