{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2018 {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2018</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-53.userapi.com/c846019/v846019788/1512ad/J_LFq2fnkvQ.jpg" style="width: 500px;" alt="2018">
        <img src="https://sun9-65.userapi.com/c850520/v850520179/1c3c1/YyRXd8GcnPo.jpg" style="width: 500px;" alt="2018">
        <img src="https://sun9-13.userapi.com/c840335/v840335028/46598/jS7Udjcd_KI.jpg" style="width: 500px;" alt="2018">

       <img src="https://sun9-70.userapi.com/c834300/v834300118/94162/U1YxryHNnxY.jpg" style="width: 500px;" alt="2018">
        <img src="https://sun9-29.userapi.com/c834402/v834402627/9109a/nCeRqz68ht4.jpg" style="width: 500px;" alt="2018">
       <img src="https://sun9-50.userapi.com/c831309/v831309859/6f843/0byjjeurIZk.jpg" style="width: 500px;" alt="2018">

        <img src="https://sun9-20.userapi.com/c824411/v824411412/b5983/dIQZZ96LLzY.jpg" style="width: 500px;" alt="2018">
       <img src="https://sun9-12.userapi.com/c830400/v830400313/e12e8/AKmVXKQ0Nqo.jpg" style="width: 500px;" alt="2018">
      <img src="https://sun9-48.userapi.com/c845324/v845324267/43fa7/qpNZa7_Ox30.jpg" style="width: 500px;" alt="2018">

        <img src="https://sun9-52.userapi.com/c846122/v846122900/e9be5/1peMWKTM7Bo.jpg" style="width: 500px;" alt="2018">
       <img src="https://sun9-32.userapi.com/c840436/v840436250/7fdd9/v_5wYfiK43s.jpg" style="width: 500px;" alt="2018">
        <img src="https://sun9-44.userapi.com/c850128/v850128818/3e440/ZdoJuw_HiLs.jpg" style="width: 500px;" alt="2018">

         <img src="https://sun9-30.userapi.com/c621701/v621701221/805b1/Jrei4-rI_p8.jpg" alt="2018">
        <img src="https://sun9-1.userapi.com/c830409/v830409504/1556bd/uSzyj6jN2yI.jpg" alt="2018">
       <img src="https://sun9-28.userapi.com/c840321/v840321828/60018/w3cpZW2H9VY.jpg" alt="2018">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}

