{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2018 (Ink) {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}

{% block navbar %}
        <a class="navbar-brand" href="/home" style="color: peru; font-size: x-large; font-family: Ebrima;">
            <img src="/static/Cat.jpg" alt="Logo" style="width:40px;">Exellero Art</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/about" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/gallery" style="background-color: tan;">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_page">Log In</a>
                </li>
            </ul>
         </div>
{% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2018 - Ink</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-9.userapi.com/c849524/v849524268/ad42a/j8M_vP5U734.jpg" alt="2018">
        <img src="https://sun9-23.userapi.com/c850620/v850620217/253f2/3JX334vJTrk.jpg" alt="2018">
        <img src="https://sun9-27.userapi.com/c849328/v849328126/a4350/eUGvVXmLNRU.jpg" alt="2018">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
{% endblock %}



