{% extends "exellero_home.html" %}

{% block title %} {{ super() }} - Gallery 2017 (Ink) {% endblock %}
{% block body %} <body class="text-center"> {% endblock %}
       
{% block navbar %}
        <a class="navbar-brand" href="/home" style="color: peru; font-size: x-large; font-family: Ebrima;">
            <img src="/static/Cat.jpg" alt="Logo" style="width:40px;">Exellero Art</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/about" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/gallery" style="background-color: tan;">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login_page">Log In</a>
                </li>
            </ul>
         </div>
{% endblock %}

{% block content %}
        <h1 class="cover-heading" style="padding-bottom: 10px; padding-top:30px; color:peru;">2017 - Ink</h1>
        <p class="lead" style = "padding-bottom: 10px; ">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>

        <img src="https://sun9-42.userapi.com/c639524/v639524587/4cfdd/Mxp1P7PXBUc.jpg" alt="2017">
        <img src="https://sun9-12.userapi.com/c837132/v837132572/7419e/fZdSZrugg4A.jpg" alt="2017">
        <img src="https://sun9-65.userapi.com/c639226/v639226807/54fba/znp6cJZMhx8.jpg" alt="2017">
        <img src="https://sun9-53.userapi.com/c637317/v637317916/31c1d/3qeSAVcvie4.jpg" alt="2017">

        <p class="lead" style = "padding-top: 70px;">
            <a href="/gallery" class="btn btn-lg btn-secondary">Back To Gallery</a>
        </p>
        <p class="lead" style = "padding-bottom: 70px;"></p>
 {% endblock %}

