{% extends "login_page.html" %}
{% block title %} Login {% endblock %}

{% block content %}
   <div class="container" style = "color: greenyellow">
    <p style="padding-top: 80px;"></p>
{% for message in get_flashed_messages() %}
    {{ message }}<br/>
{% endfor %}

<form action="/login" method="post">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username }}<br/>
    {{ form.password.label }} {{ form.password }}<br/>
    {{ form.submit }}
</form>
    <p style = "padding-bottom: 400px;"></p>
    </div>
{% endblock %}